
* {
    padding: 0;
    margin: 0;
}
textarea {
    width: 44%;
    height: 56px;
    padding: 12px;
    margin: 22px 26% 10px 26%;
}
button {
    height: 56px;
    padding: 12px;
    margin-left: 38px;
}
#doReuslt {
    width: 44%;
    height: 56px;
    margin: 10px 27% 10px 27%;
}